name: deploy-book

# Only run this when the master branch changes
on:
  push:
    branches:
    - main
    # If your git repository has the Jupyter Book within some-subfolder next to
    # unrelated files, you can make this run only if a file within that specific
    # folder has been modified.
    #
    # paths:
    # - some-subfolder/**

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Cache conda
      uses: actions/cache@v1
      env:
        # Increase this value to reset cache if etc/example-environment.yml has not changed
        CACHE_NUMBER: 0
      with:
        path: ~/conda_pkgs_dir
        key:
          ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
          hashFiles('env_hatp23.yml') }}

    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: hatp23b
        environment-file: env_hatp23b.yml
        python-version: 3.9
        auto-activate-base: false
        use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!

    - name: Install dependencies
      run: |
        python -m pip install -U pip
        pip install jupyter-book
        export RCLONE_CONFIG_HATP23_TOKEN=${{ secrets.RCLONE_CONFIG_HATP23_TOKEN }}
        rclone sync -P --config=./rclone.conf hatp23b:ACCESS/Projects/HAT-P-23b/paper_data ./notebooks/data

    # Build the book
    - name: Build the book
      run: |
        jupyter-book build .

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_build/html
