name: build notebooks

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      matrix:
        n: ['01', '02', '03', '04', '05', '06', '08', '09', '10', '11']

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Cache conda
        uses: actions/cache@v1
        env:
          # Increase this value to reset cache if etc/example-environment.yml has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
            hashFiles('env_hatp23.yml') }}

      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: hatp23
          environment-file: env_hatp23.yml
          python-version: 3
          auto-activate-base: false
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!

      - run: |
          export RCLONE_CONFIG_HATP23_TOKEN=${{ secrets.RCLONE_CONFIG_HATP23_TOKEN }}
          if [[ ${{ matrix.n }} == '03' ]]
          then
            rclone sync -P --config=./rclone.conf hatp23:data/02 ./notebooks/data/03
          elif [[ ${{ matrix.n }} == '10' ]]
          then
            rclone sync -P --config=./rclone.conf hatp23:data/04 ./notebooks/data/10
          else
            rclone sync -P --config=./rclone.conf hatp23:data/${{ matrix.n }} ./notebooks/data/${{ matrix.n }}
          fi
          jupyter nbconvert --to html --output-dir='./html' --execute ./notebooks/fig_${{ matrix.n }}.ipynb
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add . && git commit --allow-empty -m "updated fig_${{ matrix.n }}.html"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: fig_${{ matrix.n }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: fig_${{ matrix.n }}
          labels: automerge
          delete-branch: "true"

      - name: Trigger next workflow
        if: success()
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_GHA_PAT }}
          repository: ${{ github.repository }}
          event-type: trigger-workflow-2
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
